* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: 0 200px;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px 20px;
    font-size: 36px;
    font-weight: 700;
}

.lang {
    /* padding: 10px 20px; */
    background-color: transparent;
    text-decoration: none;
    color: black;
}

.categories {
    display: flex;
}

.category {
    padding: 10px 20px;
    margin-right: 10px;
    font-weight: 700;
    border-width: 1px;
    border-color: black;
    border-radius: 7px;
    border-style: solid;
    cursor: pointer;
    background-color: white;
}

img {
    width: 300px;
    height: 165px;
}