* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: black;
}

.container {
    margin: 0 200px;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px 20px;
    color: white;
}

.lang {
    /* padding: 10px 20px; */
    color: white;
    background-color: transparent;
    text-decoration: none;
}

img {
    width: 300px;
    height: 165px;
}